* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  border-style: none;
}

html,
body {
  color: aliceblue;
  background-color: #121414;
}

#root {
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  max-width: 100%;
  color: var(--color-info-light);
}

a:hover {
  color: #535bf2;
}

img {
  max-width: 100%;
  max-height: 100%;
}

input:focus {
  outline: none;
}

span {
  max-width: 100%;
  max-height: 100%;
}
